.footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 50px 0 ;
  color: var(--text-color-additional);
  font-size: 14px;
}

.footer__logo {
  max-width: 13px;
}

@media (max-width: 500px) {
  .footer {
    padding: 20px;
  }
}