.footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 50px 0 ;
  font-size: 14px;
}

.footer__logo {
  max-width: 13px;
}