:root {
  --text-color-primary: #BCBCBC;
  --text-color-secondary: #FFF;
  --text-color-additional: #4D4D4E;
  --border-color: #1E1E1E;
  --color-primary: #0053FE;
  --color-secondary: #1B1C1E;
  --color-background-primary: #0A0B0D;

  --color-background-secondary: #1A1A1A;
}
