@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('./Inter-Regular.woff2') format('woff2'),
       url('./Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'FK Grotesk';
  font-weight: 400;
  src: url('./FKRasterGrotesk-Sharp.woff2') format('woff2')
}

@font-face {
  font-family: 'SF Mono';
  font-weight: 400;
  src: url('./sf-mono-regular.woff') format('woff'),
       url('./sf-mono-regular.woff2') format('woff2')
}